Options All -Indexes

ErrorDocument 404 404
ErrorDocument 403 404

<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteRule ^logando /api/account/login.php
 RewriteRule ^verificando /api/account/verificar.php
 RewriteRule ^cadastrando /api/account/cadastro.php
 RewriteRule ^bzzzz /api/user.php
 RewriteRule ^logoutp /api/logoutp.php
 RewriteRule ^logout /api/logout.php
 RewriteRule ^search_user /api/search.php
 RewriteRule ^finish_tuturial /api/finish_tuturial.php
 RewriteRule ^status_change /api/status_change.php
 RewriteRule ^newchat /api/newchat_skype.php
 RewriteRule ^buzz /api/msg_list_skype.php
 RewriteRule ^update_1 /api/update_sql_skype.php
 RewriteRule ^sendmsg /api/sendmsg_skype.php
 RewriteRule ^count_news /api/notifi.php
 RewriteRule ^update_2 /api/update_sql_news.php
 RewriteRule ^bloo /api/bla.php
</IfModule>